<div class="product-card">
  <img
    [src]="product().image"
    alt="{{ product().title }}"
    class="product-card__image"
  />
  <div class="product-card__details">
    <h4 class="product-card__details__title">
      {{ sliceTitle(product().title)
      }}{{ product().title.length > 16 ? "..." : "" }}
    </h4>
    <p class="product-card__details__price">
      ${{ product().price.toFixed(2) }}
    </p>
    <p class="product-card__details__category">{{ product().category }}</p>
    <p class="product-card__details__rating">
      Rating: {{ product().rating.rate }}/10
    </p>
    <p class="product-card__details__count">
      ({{ product().rating.count }}) Reviews
    </p>
    <app-button>Add to cart</app-button>
  </div>
  @if(authService.isLoggedin()){
  <div class="product-card__actions">
    <app-icon tooltip="Edit product" (click)="editProduct(product())"
      >edit</app-icon
    >
    <app-icon tooltip="Delete product" (click)="openDeleteDialog(product())"
      >delete</app-icon
    >
  </div>
  }
</div>
