.avatar {
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
