<div class="dialog">
  <h2 mat-dialog-title class="dialog__title">{{ data.dialogTitle }}</h2>
  <mat-dialog-content class="dialog__content">
    {{ data.dialogContent }}
  </mat-dialog-content>
  <mat-dialog-actions class="dialog__actions">
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="dialog__button dialog__button--primary"
      (click)="onAnswerOneClick()"
    >
      {{ data.answerOne }}
    </button>
    <button
      mat-button
      mat-dialog-close
      class="dialog__button dialog__button--secondary"
      (click)="onAnswerTwoClick()"
    >
      {{ data.answerTwo }}
    </button>
  </mat-dialog-actions>
</div>
