.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-listing {
  padding: 3rem 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background-color: var(--white-muted);
  overflow-x: auto;
  max-height: calc(100vh - 6rem);

  @media (max-width: 1440px) {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }

  @media (max-width: 425px) {
    padding: 3rem 1rem;
  }
}
