.error-msg {
  color: var(--red);
}

.form {
  max-width: 30rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--off-white);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem var(--black-opacity);

  @media (max-width: 425px) {
    max-width: 18rem;
  }

  &__field {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  max-width: 20rem;
  margin: 0 auto;
  text-align: center;

  &__info {
    flex-grow: 1;
  }

  &__email {
    font-size: 1rem;
    color: #333;
    margin: 0 0 0.5rem;
  }

  &__logout-button {
    background-color: #e53935;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
