.error-msg {
  color: var(--red);
}

.form {
  max-width: 30rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--off-white);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem var(--black-opacity);

  @media (max-width: 425px) {
    max-width: 18rem;
  }

  &__field {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
